<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minimal responsive navigation bar</title>
        <meta name="description" content="This is a responsive navigation created in html and css only">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/templates/minimal-responsive-navigation/responsive-nav.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <input type="checkbox" id="nav" class="hidden"/>
                <label for="nav" class="nav-btn">
                    <li></li>
                    <li></li>
                    <li></li>
                </label>
                <div class="logo">
                    <a href="/index.html">BRAND</a>
                </div>
                <div class="nav-wrapper">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Prices</a></li>
                        <li><a href="#">Purchase</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>