<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CSS Flip card</title>
        <meta name="description" content="This is a CSS flip card styling template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/templates/flip-card/flip.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/index.html">CSS BLUEPRINTS</a>
            </div>
            <div class="spacer"></div>
            <a href="/templates/about/about.html">about</a>
        </nav>
        <div class="container">
            <div class="card-container">
                <div class="card">
                    <figure class="front">
                        <h1>PRO TIER</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, reiciendis.</p>
                    </figure>
                    <figure class="back">
                        <h1>PRICE</h1>
                        <button>BUY</button>
                    </figure>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>