<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CSS input animation</title>
        <meta name="description" content="This is a from input animation page created with pure css and html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/templates/input-animations/input.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/index.html">CSS BLUEPRINTS</a>
            </div>
            <div class="spacer"></div>
            <a href="/templates/about/about.html">about</a>
        </nav>
        <h1>Input Animation</h1>
        <div class="form">
            <input type="text" name="name" autocomplete="off" required/>
            <label for="name" class="label-name">
                <span class="content-name">Name</span>
            </label>
        </div>
        <script src="" async defer></script>
    </body>
</html>