<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fake scroll effect with css</title>
        <meta name="description" content="This is a fake scroll effect created in pure css, no js">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="fake-scroll.css">
    </head>
    <body>
        <section id="one">Section 1</section>
        <section id="two">Section 2</section>
        <section id="three">Section 3</section>
        <section id="four">Section 4</section>
        <section id="five">Section 5</section>
        <nav>
            <a href="#one">One</a>
            <a href="#two">two</a>
            <a href="#three">three</a>
            <a href="#four">four</a>
            <a href="#five">five</a>
        </nav>
        
        <!-- <script src="" async defer></script> -->
    </body>
</html>